@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body,
html {
  line-height: 1;
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

ol,
ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

input[type=text],
input[type=number],
input[type=email],
select {
  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  height: 4.5rem;
  font-weight: 300;
  border: 0;
  background-color: #fff;
}

input::-ms-clear {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

#wrapper {
  max-width: 108rem;
  width: 100%;
  margin: 0 auto;
}
#wrapper input[type=text],
#wrapper input[type=number],
#wrapper input[type=email],
#wrapper select {
  width: 11.5rem;
  height: 2.5rem;
  font-size: 0.9rem;
  padding: 0.5rem 0.5rem;
}
#wrapper .hide {
  display: none;
}
#wrapper .inner {
  width: 100%;
  max-width: 108rem;
  margin: 0 auto;
  overflow: hidden;
}
#wrapper .fix-area {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  z-index: 5000000;
  padding: 1rem 1.5rem;
}
#wrapper .fix-area .inner {
  display: flex;
  align-items: center;
}
#wrapper .fix-area .inner > img {
  float: left;
  margin-right: 1.5rem;
  width: 10rem;
  margin-top: 1rem;
}
#wrapper .fix-area .inner form {
  display: flex;
}
#wrapper .fix-area .inner form .form-container {
  flex: 1;
}
#wrapper .fix-area .inner form .form-row {
  margin: 0;
  width: auto;
}
#wrapper .fix-area .inner form .form-row input,
#wrapper .fix-area .inner form .form-row select {
  flex: 1 0 30%;
  width: 45%;
  margin-bottom: 0.2rem;
}
#wrapper .fix-area .inner form .submit {
  background-color: #d2824c;
}
#wrapper .fix-area .inner form .submit img {
  width: 80%;
}
#wrapper .fix-area .inner form .form-agree {
  margin: 0.2rem 0 0;
  width: auto;
  display: flex;
}
#wrapper .fix-area .inner form .form-agree input {
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
}
#wrapper .fix-area .inner form .form-agree label {
  color: #fff;
  font-size: 0.6rem;
  margin-right: 1.5rem;
}
#wrapper header {
  background-color: #000000;
  height: 4.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 108rem;
  z-index: 5000;
  top: 0;
}
#wrapper header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper header .inner h1 a img {
  height: 2.8rem;
}
#wrapper header .inner nav {
  flex: 1;
  margin-left: 3rem;
}
#wrapper header .inner nav ul {
  display: flex;
  align-items: center;
}
#wrapper header .inner nav ul li {
  text-align: center;
  margin-right: 1.5rem;
}
#wrapper header .inner nav ul li span {
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}
#wrapper footer {
  font-size: 1.4rem;
  color: #a5a5a5;
  line-height: 2.6rem;
  text-align: center;
}
#wrapper main {
  padding-top: 4.8rem;
  background-color: #000000;
}
#wrapper main section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#wrapper main section > img {
  width: 100%;
  display: block;
}
#wrapper main #section-main {
  padding: 6rem 0 5rem;
}
#wrapper main #section-main .text-1 {
  display: block;
  width: 75%;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-main .text-2 {
  display: block;
  width: 60%;
  margin: 0 auto 2.5rem;
}
#wrapper main #section-main .text-3 {
  display: block;
  width: 65%;
  margin: 0 auto 0.7rem;
}
#wrapper main #section-main .text-4 {
  display: block;
  width: 85%;
  margin: 0 auto 2rem;
}
#wrapper main #section-main .text-5 {
  display: block;
  width: 85%;
  margin: 0 auto 5rem;
}
#wrapper main #section-main .text-6 {
  display: block;
  width: 80%;
  margin: 0 auto;
}
#wrapper main #section-1 {
  padding: 3rem 0 2.5rem;
  background-color: #360f23;
}
#wrapper main #section-1 .text-1 {
  display: block;
  width: 75%;
  margin: 0 auto 1rem;
}
#wrapper main #section-1 .text-2 {
  display: block;
  width: 90%;
  margin: 0 auto;
}
#wrapper main #section-2 {
  padding: 6rem 0 26rem;
}
#wrapper main #section-2 .text-1 {
  display: block;
  width: 90%;
  margin: 0 auto 1rem;
}
#wrapper main #section-2 .text-2 {
  display: block;
  width: 60%;
  margin: 0 auto 1rem;
}
#wrapper main #section-2 .text-3 {
  display: block;
  width: 85%;
  margin: 0 auto;
}
#wrapper main #section-3 {
  padding: 6rem 0 5.5rem;
}
#wrapper main #section-3 .text-1 {
  display: block;
  width: 60%;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-3 .text-2 {
  display: block;
  width: 90%;
  margin: 0 auto 0.5rem;
}
#wrapper main #section-3 .text-3 {
  display: block;
  width: 80%;
  margin: 0 auto 2rem;
}
#wrapper main #section-3 .text-4 {
  display: block;
  width: 95%;
  margin: 0 auto;
}
#wrapper main #section-4 {
  padding: 3.5rem 0 26rem;
}
#wrapper main #section-4 .text-1 {
  display: block;
  width: 30%;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-4 .text-2 {
  display: block;
  width: 60%;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-4 .text-3 {
  display: block;
  width: 55%;
  margin: 0 auto 0.5rem;
}
#wrapper main #section-4 .text-4 {
  display: block;
  width: 90%;
  margin: 0 auto 0.5rem;
}
#wrapper main #section-4 .text-5 {
  display: block;
  width: 85%;
  margin: 0 auto 0.5rem;
}
#wrapper main #section-5 {
  padding: 3rem 2rem 0.5rem;
}
#wrapper main #section-5 .inner {
  display: flex;
}
#wrapper main #section-5 .inner div {
  flex: 1;
}
#wrapper main #section-5 .inner div .text-1 {
  width: 100%;
  display: block;
  margin-right: 1rem;
}
#wrapper main #section-5 .inner div .text-2 {
  width: 100%;
  display: block;
}
#wrapper main #section-6 {
  padding: 4rem 0rem 5rem;
}
#wrapper main #section-6 .logos {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-6 .text-1 {
  width: 50%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-6 .text-2 {
  width: 65%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-6 .text-3 {
  width: 90%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-6 .table {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-7 {
  padding: 3.5rem 0 3rem;
}
#wrapper main #section-7 .inner .text-1 {
  width: 30%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-7 .inner .text-2 {
  width: 50%;
  display: block;
  margin: 0 auto 0.5rem;
}
#wrapper main #section-7 .inner .text-3 {
  width: 90%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-7 .inner .slide-wrapper {
  padding: 0 2.5rem;
}
#wrapper main #section-7 .inner .slide-container .swiper-container {
  height: 25rem;
}
#wrapper main #section-7 .inner .slide-container .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper main #section-7 .inner .slide-container .swiper-button-next,
#wrapper main #section-7 .inner .slide-container .swiper-button-prev {
  background-color: #fff;
  width: 4.7rem;
  height: 4.7rem;
  border-radius: 4.7rem;
  color: #000;
}
#wrapper main #section-7 .inner .slide-container .swiper-button-next:after,
#wrapper main #section-7 .inner .slide-container .swiper-container-rtl .swiper-button-prev:after,
#wrapper main #section-7 .inner .slide-container .swiper-button-prev:after,
#wrapper main #section-7 .inner .slide-container .swiper-container-rtl .swiper-button-next:after {
  font-size: 1.2rem;
}
#wrapper main #section-7 .inner .slide-container .type-contents img {
  width: 100%;
}
#wrapper main #section-7 .inner .type-header {
  display: flex;
}
#wrapper main #section-7 .inner .type-header span {
  flex: 1;
  cursor: pointer;
  background-color: #c49d5a;
  display: block;
  font-size: 1.1rem;
  letter-spacing: -0.04rem;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
}
#wrapper main #section-7 .inner .type-header span.active {
  background-color: #fff;
  color: #000000;
}
#wrapper main #section-7 .inner .contents {
  width: 95%;
  display: block;
  margin: 2rem auto 0;
}
#wrapper main #section-8 {
  padding: 3rem 0 2rem;
  position: relative;
}
#wrapper main #section-8 .text-1 {
  display: block;
  width: 40%;
  margin: 0 auto 1rem;
}
#wrapper main #section-8 .text-2 {
  width: 80%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-8 .swiper {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
#wrapper main #section-8 .swiper .swiper-container {
  margin: 0 auto;
}
#wrapper main #section-8 .swiper .swiper-container .swiper-wrapper {
  width: 100%;
  height: 17rem;
}
#wrapper main #section-8 .swiper .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
#wrapper main #section-8 .swiper .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper main #section-9 {
  padding: 3rem 0;
}
#wrapper main #section-9 .text-1 {
  width: 70%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-9 .text-2 {
  width: 65%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-10 {
  padding: 3.5rem 0 4rem;
  background-color: #f5eac2;
}
#wrapper main #section-10 .text-1 {
  width: 30%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-10 .text-2 {
  width: 95%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-10 .text-3 {
  width: 65%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-10 .text-4 {
  width: 90%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-10 .text-5 {
  width: 65%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-10 .imgs {
  display: flex;
  padding: 0 3rem;
}
#wrapper main #section-10 .imgs div {
  flex: 1;
}
#wrapper main #section-10 .imgs div:nth-child(2) {
  margin: 0 1.5rem;
}
#wrapper main #section-10 .imgs div img {
  width: 100%;
}
#wrapper main #section-11 {
  padding: 4rem 0;
}
#wrapper main #section-11 .text-1 {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-12 {
  padding: 1rem 0 1.5rem;
}
#wrapper main #section-12 .text-1 {
  width: 80%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-12 .text-2 {
  width: 75%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-13 {
  padding: 6.5rem 0 2rem;
}
#wrapper main #section-13 .text-1 {
  width: 80%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-13 .text-2 {
  width: 65%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-13 .text-3 {
  width: 85%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-14 .swiper-container .swiper-wrapper .swiper-slide {
  width: 10rem;
  height: 7rem;
}
#wrapper main #section-14 .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrapper main #section-15 {
  padding: 5rem 2.5rem 3rem;
}
#wrapper main #section-15 .text-1 {
  width: 80%;
  display: block;
  margin: 0 auto 1rem;
}
#wrapper main #section-15 .text-2 {
  width: 75%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-15 .imgs {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
#wrapper main #section-15 .imgs div {
  width: 45%;
}
#wrapper main #section-15 .imgs div:nth-child(1) {
  margin-right: 2rem;
}
#wrapper main #section-15 .imgs div:nth-child(3) {
  margin-top: 1rem;
}
#wrapper main #section-15 .imgs div img {
  width: 100%;
}
#wrapper main #section-16 {
  padding: 3.5rem 0;
}
#wrapper main #section-16 .text-1 {
  width: 80%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-16 .text-2 {
  width: 70%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-17 {
  padding: 3.5rem 0 5rem;
}
#wrapper main #section-17 .text-1 {
  width: 40%;
  margin: 0 auto 1.5rem;
  display: block;
}
#wrapper main #section-17 .text-2 {
  width: 80%;
  margin: 0 auto 1.5rem;
  display: block;
}
#wrapper main #section-17 .text-3 {
  width: 80%;
  margin: 0 auto 1.5rem;
  display: block;
}
#wrapper main #section-17 .text-4 {
  width: 30%;
  margin: 0 auto 1rem;
  display: block;
}
#wrapper main #section-17 .text-5 {
  width: 85%;
  margin: 0 auto 1.5rem;
  display: block;
  transform: translateX(1rem);
}
#wrapper main #section-17 .text-6 {
  width: 75%;
  margin: 0 auto 1rem;
  display: block;
}
#wrapper main #section-17 form {
  width: 95%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 7rem 0 2rem;
}
#wrapper main #section-17 form .text-7 {
  width: 60%;
  margin: 0 auto 1rem;
  display: block;
}
#wrapper main #section-17 form input {
  margin-bottom: 0.5rem;
}
#wrapper main #section-17 form .form-row {
  display: flex;
  flex-flow: row wrap;
  width: 68%;
  justify-content: space-between;
  margin: 0 auto;
}
#wrapper main #section-17 form .form-agree {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}
#wrapper main #section-17 form .form-agree input {
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
}
#wrapper main #section-17 form .form-agree label {
  font-size: 0.6rem;
}
#wrapper main #section-17 form .submit {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 4rem;
  background-color: #000;
  margin: 0 auto;
  display: block;
}
#wrapper main #section-18 {
  padding: 3rem 0;
}
#wrapper main #section-18 .text-1 {
  width: 60%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-18 .text-2 {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-19 {
  padding: 4rem 0;
}
#wrapper main #section-19 .step {
  width: 95%;
  display: block;
  margin: 0 auto 3rem;
}
#wrapper main #section-19 .text-1 {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-19 .text-2 {
  width: 50%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-19 .text-3 {
  width: 80%;
  display: block;
  margin: 0 auto 1.4rem;
}
#wrapper main #section-19 .coupon {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-20 {
  padding: 3.5rem 0 2rem;
}
#wrapper main #section-20 .text-1 {
  width: 30%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-20 .text-2 {
  width: 90%;
  display: block;
  margin: 0 auto 1.5rem;
}
#wrapper main #section-20 .text-3 {
  width: 65%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-20 .contents {
  width: 90%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-21 {
  padding: 5rem 0 3rem;
}
#wrapper main #section-21 .text-1 {
  width: 50%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-21 .text-2 {
  width: 70%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-21 .text-3 {
  width: 85%;
  display: block;
  margin: 0 auto 2rem;
}
#wrapper main #section-21 .text-4 {
  width: 95%;
  display: block;
  margin: 0 auto;
}
#wrapper main #section-22 {
  padding: 5rem 0 2.5rem;
}
#wrapper main #section-22 .text-1 {
  width: 60%;
  margin: 0 auto 1.5rem;
  display: block;
}
#wrapper main #section-22 .text-2 {
  width: 75%;
  margin: 0 auto 2rem;
  display: block;
}
#wrapper main #section-22 .text-3 {
  width: 98%;
  margin: 0 auto 3rem;
  display: block;
}
#wrapper main #section-22 .text-4 {
  width: 60%;
  margin: 0 auto 2rem;
  display: block;
}
#wrapper main #section-22 .text-5 {
  width: 65%;
  margin: 0 auto 2rem;
  display: block;
}
#wrapper main #section-22 .text-6 {
  width: 80%;
  margin: 0 auto 2.5rem;
  display: block;
}
#wrapper main #section-22 form {
  width: 95%;
  margin: 0 auto;
}
#wrapper main #section-22 form .text-7 {
  width: 60%;
  margin: 0 auto 1rem;
  display: block;
}
#wrapper main #section-22 form input {
  margin-bottom: 0.5rem;
}
#wrapper main #section-22 form .form-row {
  display: flex;
  flex-flow: row wrap;
  width: 68%;
  justify-content: space-between;
  margin: 0 auto;
}
#wrapper main #section-22 form .form-agree {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: center;
}
#wrapper main #section-22 form .form-agree input {
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
}
#wrapper main #section-22 form .form-agree label {
  font-size: 0.6rem;
  color: #ffffff;
}
#wrapper main #section-22 form .submit {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 4rem;
  background-color: #aa8f25;
  margin: 0 auto 2rem;
  display: block;
}
#wrapper main #section-22 .text-7 {
  width: 70%;
  margin: 0 auto 9rem;
  display: block;
}
#wrapper main #section-22 footer {
  font-size: 0.7rem;
  line-height: 1.25rem;
  color: #a5a5a5;
}

/*# sourceMappingURL=mobile.css.map */
