#wrapper {
  max-width: 108rem;
  width: 100%;
  margin: 0 auto;
  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
    width: 11.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
  }
  .hide {
    display: none;
  }
  .inner {
    width: 100%;
    max-width: 108rem;
    margin: 0 auto;
    overflow: hidden;
  }
  .fix-area {
    position: fixed;
    bottom: 0;
    background-color: #000;
    width: 100%;
    z-index: 5000000;
    padding: 1rem 1.5rem;
    .inner {
      display: flex;
      align-items: center;
      > img {
        float: left;
        margin-right: 1.5rem;
        width: 10rem;
        margin-top: 1rem;
      }
      form {
        display: flex;
        .form-container {
          flex: 1;
        }
        .form-row {
          margin: 0;
          width: auto;
          input,
          select {
            flex: 1 0 30%;
            width: 45%;
            margin-bottom: 0.2rem;
          }
        }
        .submit {
          background-color: #d2824c;
          img {
            width: 80%;
          }
        }
        .form-agree {
          margin: 0.2rem 0 0;
          width: auto;
          display: flex;
          input {
            margin: 0;
            width: 0.6rem;
            height: 0.6rem;
          }
          label {
            color: #fff;
            font-size: 0.6rem;
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
  header {
    background-color: #000000;
    height: 4.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 108rem;
    z-index: 5000;
    top: 0;
    .inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        a {
          img {
            height: 2.8rem;
          }
        }
      }
      nav {
        flex: 1;
        margin-left: 3rem;
        ul {
          display: flex;
          align-items: center;
          li {
            text-align: center;
            margin-right: 1.5rem;
            span {
              color: #ffffff;
              font-weight: 500;
              white-space: nowrap;
              cursor: pointer;
              font-size: 0.8rem;
              line-height: 1rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
  footer {
    font-size: 1.4rem;
    color: #a5a5a5;
    line-height: 2.6rem;
    text-align: center;
  }

  main {
    padding-top: 4.8rem;
    background-color: #000000;
    section {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      > img {
        width: 100%;
        display: block;
      }
    }
    #section-7 {
      padding: 3.5rem 0 3rem;
      .inner {
        .text-1 {
          width: 30%;
          display: block;
          margin: 0 auto 1rem;
        }
        .text-2 {
          width: 50%;
          display: block;
          margin: 0 auto 0.5rem;
        }
        .text-3 {
          width: 90%;
          display: block;
          margin: 0 auto 2rem;
        }
        .slide-container {
          .swiper-container {
            height: 25rem;
            .swiper-slide {
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .type-header {
            display: flex;
            span {
              flex: 1;
              cursor: pointer;
              background-color: #c49d5a;
              display: block;
              font-size: 2rem;
              letter-spacing: -0.04rem;
              text-align: center;
              height: 6rem;
              line-height: 6rem;
              color: #ffffff;
              &.active {
                background-color: #fff;
                color: #000000;
              }
            }
          }
          .type-contents {
            img {
              width: 100%;
            }
          }
        }
        .contents {
          width: 90%;
          display: block;
          margin: 2rem auto 0;
        }
      }
    }
    #section-8 {
      padding: 3rem 0 2rem;
      position: relative;
      .text-1 {
        display: block;
        width: 40%;
        margin: 0 auto 1rem;
      }
      .text-2 {
        width: 80%;
        display: block;
        margin: 0 auto 2rem;
      }
      .swiper {
        position: relative;
        width: 90%;
        margin: 0 auto;
        .swiper-container {
          margin: 0 auto;
          .swiper-wrapper {
            width: 100%;
            height: 17rem;
            .swiper-slide {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    #section-13 {
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            width: 10rem;
            height: 7rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    #section-16 {
      padding: 3.5rem 0 5rem;
      .text-1 {
        width: 40%;
        margin: 0 auto 1.5rem;
        display: block;
      }
      .text-2 {
        width: 80%;
        margin: 0 auto 1.5rem;
        display: block;
      }
      .text-3 {
        width: 80%;
        margin: 0 auto 1.5rem;
        display: block;
      }
      .text-4 {
        width: 30%;
        margin: 0 auto 1rem;
        display: block;
      }
      .text-5 {
        width: 85%;
        margin: 0 auto 1.5rem;
        display: block;
        transform: translateX(1rem);
      }
      .text-6 {
        width: 75%;
        margin: 0 auto 1rem;
        display: block;
      }
      form {
        width: 95%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 7rem 0 2rem;
        .text-7 {
          width: 60%;
          margin: 0 auto 1rem;
          display: block;
        }
        input {
          margin-bottom: 0.5rem;
        }
        .form-row {
          display: flex;
          flex-flow: row wrap;
          width: 68%;
          justify-content: space-between;
          margin: 0 auto;
        }
        .form-agree {
          display: flex;
          margin-bottom: 1.5rem;
          align-items: center;
          justify-content: center;
          input {
            margin: 0;
            width: 0.6rem;
            height: 0.6rem;
          }
          label {
            font-size: 0.6rem;
          }
        }
        .submit {
          font-size: 1rem;
          color: #fff;
          padding: 1rem 4rem;
          background-color: #000;
          margin: 0 auto;
          display: block;
        }
      }
    }
    #section-21 {
      padding: 5rem 0 2.5rem;
      .text-1 {
        width: 60%;
        margin: 0 auto 1.5rem;
        display: block;
      }
      .text-2 {
        width: 75%;
        margin: 0 auto 2rem;
        display: block;
      }
      .text-3 {
        width: 98%;
        margin: 0 auto 3rem;
        display: block;
      }
      .text-4 {
        width: 60%;
        margin: 0 auto 2rem;
        display: block;
      }
      .text-5 {
        width: 65%;
        margin: 0 auto 2rem;
        display: block;
      }
      .text-6 {
        width: 80%;
        margin: 0 auto 2.5rem;
        display: block;
      }
      form {
        width: 95%;
        margin: 0 auto;
        .text-7 {
          width: 60%;
          margin: 0 auto 1rem;
          display: block;
        }
        input {
          margin-bottom: 0.5rem;
        }
        .form-row {
          display: flex;
          flex-flow: row wrap;
          width: 68%;
          justify-content: space-between;
          margin: 0 auto;
        }
        .form-agree {
          display: flex;
          margin-bottom: 1.5rem;
          align-items: center;
          justify-content: center;
          input {
            margin: 0;
            width: 0.6rem;
            height: 0.6rem;
          }
          label {
            font-size: 0.6rem;
            color: #ffffff;
          }
        }
        .submit {
          font-size: 1rem;
          color: #fff;
          padding: 1rem 4rem;
          background-color: #aa8f25;
          margin: 0 auto 2rem;
          display: block;
        }
      }
      .text-7 {
        width: 70%;
        margin: 0 auto 9rem;
        display: block;
      }
      footer {
        font-size: 0.7rem;
        line-height: 1.25rem;
        color: #a5a5a5;
      }
    }
  }
}
